.whychoose-section{
    width: 100%;
    height: 100%;
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../images/gear.png);
    background-size: cover;
    background-attachment: fixed;
}
.whychoose-container{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
}
.why-choose-item{
    width: 350px;
    height: 350px;
    border: 1px solid rgb(226, 204, 8);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    transition: 0.4s ease-in;
}
.why-choose-item:hover{
    background-color: rgb(226, 204, 8);
    transform: translateY(-20px);
}
@media (max-width: 500px) {
    .whychoose-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) {
    .whychoose-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .whychoose-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}