.resister-form-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divider .line-style{
    width: 40%;
    height: 2px;
    background-color: lightgray;
}
.divider p{
    margin-top: 8px;
}