.manage-items-container{
    border-radius: 15px;
    margin: 20px 0;
    position: relative;
}
.manage-items-container img{
    width: 350px;
    height: 200px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20px;
}
.custom-delete-btn{
    position: absolute;
    right: 2%;
    top: 10%;
    border: 0;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: red;
    color: #fff;
}
.manage-items-container .product-info{}
.manage-items-container .product-info p{
    font-size: 16px;
    color: #000;
}
.manage-items-container .product-info{}